In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
import performanceanalytics.table.table as pat
import statistics

Import stock symbols as well as company name

In [ ]:
#stock_data = pd.read_csv('Companies_Ticker.csv', sep = ';')
stock_data = pd.read_csv('Companies_Ticker.csv', sep=';')

Pulls time series data for stocks on a daily basis from 1989-9-18 until 2021-12-31.

Parameters
```
:stock_dict:  dictionary
    Contains the stock symbols as key and the time series as values.
:stocks_as_df:  dataframe
    Contains the time series data as one df`
```

In [6]:
stock_dict = {}
for s in stock_data['Symbol']:  # iterate for every stock indices
    # Retrieve data from Yahoo Finance
    tickerData = yf.Ticker(s)
    # Save historical data
    stock_dict[s] = yf.download(
        s, start='1989-9-18', end='2021-12-31', progress=False)
# Concatenate all data
stocks_as_df = pd.concat(stock_dict, axis=0)

In [8]:
stocks_as_df

                          Open         High          Low        Close  \
       Date
^GDAXI 1989-09-18  1597.079956  1597.079956  1597.079956  1597.079956
       1989-09-19  1613.119995  1613.119995  1613.119995  1613.119995
       1989-09-20  1617.949951  1617.949951  1617.949951  1617.949951
       1989-09-21  1615.209961  1615.209961  1615.209961  1615.209961
       1989-09-22  1626.020020  1626.020020  1626.020020  1626.020020
...                        ...          ...          ...          ...
ZAL.DE 2021-12-23    70.300003    70.699997    69.519997    70.519997
       2021-12-27    70.360001    70.720001    69.900002    70.459999
       2021-12-28    70.239998    71.500000    70.160004    70.800003
       2021-12-29    71.019997    72.220001    70.199997    70.699997
       2021-12-30    70.639999    71.639999    70.639999    71.139999

                     Adj Close    Volume
       Date
^GDAXI 1989-09-18  1597.079956       0.0
       1989-09-19  1613.119995       0.0
       1989-09-20  1617.949951       0.0
       1989-09-21  1615.209961       0.0
       1989-09-22  1626.020020       0.0
...                        ...       ...
ZAL.DE 2021-12-23    70.519997  411277.0
       2021-12-27    70.459999  389135.0
       2021-12-28    70.800003  325925.0
       2021-12-29    70.699997  391307.0
       2021-12-30    71.139999  344868.0

[201051 rows x 6 columns]

Check if `stocks_as_df` contains NA or zeros in Volume & Adjusted Close
```
:stocks_as_df:  dataframe
    Contains the time series data as one df.
:stocks_as_df_Volume_is_0:  dataframe
    Contains the rows where Volume == 0.
```

In [9]:
stocks_as_df_has_nan = np.isnan(np.sum(stocks_as_df))

#(stocks_as_df < 0).any()
# (stocks_as_df = 0).any()

stocks_as_df_Volume_is_0 = stocks_as_df.loc[stocks_as_df["Volume"] == 0]

Check if Adj Close in `stocks_as_df` differs from previous/ following day.
```
:stocks_as_df:  dataframe
    Contains the time series data as one df.
:stocks_as_df_adjclose_peak_bottom:  dataframe
    Contains the rows where Adj. Close differs
```

In [11]:
stocks_as_df_adjclose_peak_bottom_list = []
n = 1

while n < len(stocks_as_df)-1:
    if abs(stocks_as_df["Adj Close"][n] -
           statistics.mean([stocks_as_df["Adj Close"][n-1],
                            stocks_as_df["Adj Close"][n+1]])) > .5 * stocks_as_df["Adj Close"][n]:
        stocks_as_df_adjclose_peak_bottom_list.append(stocks_as_df.iloc[n])

    n += 1

stocks_as_df_adjclose_peak_bottom = pd.DataFrame(
    stocks_as_df_adjclose_peak_bottom_list)

In [12]:
stocks_as_df_adjclose_peak_bottom

,Open,High,Low,Close,Adj Close,Volume
"(^GDAXI, 2021-12-30 00:00:00)",15837.559570,15890.740234,15834.570312,15884.860352,15884.860352,32456600.0
"(ADS.DE, 1998-06-24 00:00:00)",40.916248,41.159000,40.775501,40.775501,29.134739,181816.0
"(AIR.DE, 1998-11-10 00:00:00)",15.400000,15.400000,15.400000,15.400000,8.746623,600.0
"(BAS.DE, 1996-12-16 00:00:00)",15.198145,15.354100,15.083100,15.172600,6.200554,1228124.0
"(BAYN.DE, 1996-12-16 00:00:00)",30.969471,31.110382,30.099039,30.365728,15.570714,1146230.0
...,...,...,...,...,...,...
"(ENR.DE, 2020-09-29 00:00:00)",21.850000,23.370001,21.559999,22.000000,21.887093,10261596.0
"(SY1.DE, 2006-12-11 00:00:00)",17.250000,18.639999,17.250000,18.500000,13.719698,23895609.0
"(VOW3.DE, 1998-07-22 00:00:00)",63.148163,65.053703,63.148163,64.596451,33.766048,56336.0
"(VNA.DE, 2013-07-11 00:00:00)",14.336004,14.755185,14.310853,14.713267,11.321285,3899256.0
"(ZAL.DE, 2014-10-01 00:00:00)",24.100000,24.485001,21.500000,21.500000,21.500000,15682223.0

**Define all dates with listing/ delisting**

Parameters
```
:index_compositions:  data frame
    Contains the deletions/ additions as well as date of change/ announcements & Merger/Spin-Off Information
```

In [13]:
index_compositions = pd.read_csv('Historical_Index_Compositions.csv', sep = ';')

In [15]:
returns_daily = {}
for s in stock_data['Symbol']:
    returns_daily[s] = stock_dict[s]['Adj Close'].pct_change()

**Transform daily price data to weekly returnTransform daily price data to weekly return's**

Parameters
```
:stock_weekly:  dictionary
    Contains the stock symbols as key and the weekly returns as values`
```

In [17]:
returns_weekly = {}
for s in stock_data['Symbol']:
    returns_weekly[s] = stock_dict[s]['Adj Close'].resample(
        'W').ffill().pct_change()

**Calculating measures of location, statistical dispersion and shape**

Parameters
```
:des_stat:  dataframe
    Contains the descriptive statistics`
```

In [18]:
des_stat = pd.DataFrame(columns=stock_data['Symbol'],
                        index=['Observations', 'NAs', 'Minimum', 'Quartile 1', 'Median',
                               'Artithmetic Mean', 'Geometric Mean', 'Quartile 3', 'Maximum', 'SE Mean',
                               'LCL Mean (.95)', 'UCL Mean (.95)', 'Variance', 'Stdev', 'Skewness', 'Kurtosis'])

for s in stock_data['Symbol']:
    df = pd.DataFrame(returns_daily[s])
    des_stat[s] = pat.stats_table(df, manager_col=0)
print(des_stat)

Symbol                 ^GDAXI       ADS.DE       AIR.DE       ALV.DE  \
Observations      8158.000000  6022.000000  5923.000000  6419.000000
NAs                  1.000000     1.000000     1.000000     1.000000
Minimum             -0.131434    -0.153704    -0.215624    -0.153277
Quartile 1          -0.006299    -0.009064    -0.010201    -0.008944
Median               0.000791     0.000000     0.000000     0.000000
Artithmetic Mean     0.000382     0.000554     0.000716     0.000402
Geometric Mean       0.000282     0.000359     0.000430     0.000169
Quartile 3           0.007422     0.009824     0.011345     0.009525
Maximum              0.114020     0.136590     0.206724     0.262448
SE Mean              0.000156     0.000255     0.000311     0.000270
LCL Mean (.95)       0.000380     0.000551     0.000712     0.000399
UCL Mean (.95)       0.000383     0.000557     0.000720     0.000406
Variance             0.000200     0.000390     0.000572     0.000469
Stdev                0.014132     0.019758     0.023924     0.021663
Skewness            -0.133680     0.123932     0.239369     0.510380
Kurtosis             6.533094     5.647817     8.427138    11.102188

Symbol                 BAS.DE      BAYN.DE       BMW.DE       BNR.DE  \
Observations      6419.000000  6419.000000  6445.000000  2984.000000
NAs                  1.000000     1.000000     1.000000     1.000000
Minimum             -0.136453    -0.176406    -0.131851    -0.091662
Quartile 1          -0.008679    -0.009371    -0.010156    -0.007559
Median               0.000000     0.000000     0.000000     0.000578
Artithmetic Mean     0.000528     0.000371     0.000571     0.000698
Geometric Mean       0.000358     0.000172     0.000338     0.000577
Quartile 3           0.009552     0.010102     0.010776     0.008749
Maximum              0.192923     0.391050     0.148384     0.086927
SE Mean              0.000230     0.000250     0.000269     0.000285
LCL Mean (.95)       0.000525     0.000368     0.000567     0.000693
UCL Mean (.95)       0.000531     0.000374     0.000574     0.000703
Variance             0.000340     0.000402     0.000466     0.000243
Stdev                0.018446     0.020047     0.021595     0.015578
Skewness             0.328322     0.999473     0.103891    -0.151132
Kurtosis             6.836194    27.130857     4.545058     3.506689

Symbol                 BEI.DE       CON.DE  ...       RWE.DE       SAP.DE  \
Observations      6004.000000  6419.000000  ...  6419.000000  6076.000000
NAs                  1.000000     1.000000  ...     1.000000     1.000000
Minimum             -0.136383    -0.203576  ...    -0.172973    -0.229773
Quartile 1          -0.007973    -0.011196  ...    -0.009384    -0.008656
Median               0.000000     0.000000  ...     0.000000     0.000177
Artithmetic Mean     0.000463     0.000803  ...     0.000347     0.000533
Geometric Mean       0.000303     0.000472  ...     0.000151     0.000249
Quartile 3           0.008130     0.012089  ...     0.010361     0.009968
Maximum              0.133721     0.897931  ...     0.167546     0.243389
SE Mean              0.000231     0.000333  ...     0.000247     0.000306
LCL Mean (.95)       0.000460     0.000799  ...     0.000344     0.000529
UCL Mean (.95)       0.000466     0.000807  ...     0.000350     0.000537
Variance             0.000321     0.000710  ...     0.000391     0.000570
Stdev                0.017910     0.026641  ...     0.019781     0.023872
Skewness             0.303137     6.218074  ...     0.112635     0.417915
Kurtosis             6.691065   206.105576  ...     5.954628    13.988026

Symbol                SRT3.DE       SIE.DE      ENR.DE      SHL.DE  \
Observations      5802.000000  6445.000000  319.000000  941.000000
NAs                  1.000000     1.000000    1.000000    1.000000
Minimum             -0.138622    -0.348507   -0.110939   -0.089523
Quartile 1          -0.010469    -0.009396   -0.013157   -0.006923
Median               0.000000     0.000000   -0.000439    0.000587
Artithmetic Mean     0.001409     0.000654    0.000325    0.000941
Geometric Mean       0.001108     0.000380    0.000069    0.000811
Quartile 3           0.012641     0.010273    0.013884    0.009772
Maximum              0.237614     0.546363    0.062254    0.096943
SE Mean              0.000324     0.000295    0.001265    0.000525
LCL Mean (.95)       0.001405     0.000651    0.000255    0.000924
UCL Mean (.95)       0.001413     0.000658    0.000395    0.000958
Variance             0.000608     0.000560    0.000509    0.000260
Stdev                0.024667     0.023660    0.022560    0.016110
Skewness             0.797425     2.645982   -0.318433    0.022217
Kurtosis             8.383831    89.287382    1.816918    5.293325

Symbol                 SY1.DE      VOW3.DE       VNA.DE       ZAL.DE
Observations      3817.000000  6002.000000  2146.000000  1836.000000
NAs                  1.000000     1.000000     1.000000     1.000000
Minimum             -0.124617    -0.198185    -0.084063    -0.131981
Quartile 1          -0.008174    -0.011162    -0.006696    -0.010008
Median               0.000310     0.000000     0.000940     0.000926
Artithmetic Mean     0.000749     0.000568     0.000782     0.000954
Geometric Mean       0.000590     0.000277     0.000678     0.000652
Quartile 3           0.009626     0.012264     0.008069     0.013194
Maximum              0.187324     0.196886     0.112109     0.237586
SE Mean              0.000290     0.000311     0.000311     0.000577
LCL Mean (.95)       0.000745     0.000564     0.000775     0.000941
UCL Mean (.95)       0.000754     0.000572     0.000789     0.000967
Variance             0.000320     0.000580     0.000208     0.000611
Stdev                0.017898     0.024086     0.014405     0.024720
Skewness             0.516683    -0.143156     0.076060     0.893793
Kurtosis             7.404753     7.673434     5.362588    12.168772

[16 rows x 41 columns]

**Calculating the downside statistics**

Parameters
```
:down_stat:  dataframe
    Contains the downside statistics`
```

In [19]:
down_stat = pd.DataFrame(columns=stock_data['Symbol'],
                         index=['Semi Deviation', 'Gain Deviation', 'Loss Deviation', 'Downside Deviation (MAR=2.0%)',
                                'Downside Deviation (rf=0.5%)', 'Downside Deviation (0%)', 'Maximum Drawdown',
                                'Historical VaR (95%)', 'Historical ES (95%)', 'Modified VaR (95%)', 'Modified ES (95%)'])

for s in stock_data['Symbol']:
    df = pd.DataFrame(returns_daily[s])
    down_stat[s] = pat.create_downside_table(df, 0)
down_stat

KeyboardInterrupt: